@import url('https://fonts.googleapis.com/css?family=Gugi|Open+Sans:300,400,600,800');

//  COLORS
$brand-color: #16D36B;
$brand-color-dark: #11A855;

$brand-secondary: #298AFF;

$dark-grey: #222;

$red: #D9534F;
$red-dark: #C9302C;

// FONTS
$brand-font: 'Gugi', cursive;
$secondary-font: 'Open Sans', sans-serif;