@import "main";

#settings {
    background: white;
    height: calc(100% - 95px);
    position: absolute;
    width: 100%;
    top: 95px;
    padding-top: 50px;

    .section {
        border-bottom: 1px solid lightgray;
        font-size: 14px;
        font-family: $brand-font;
        height: 100px;
        line-height: 100px;
        width: calc(100% - 30px);
        margin: auto;

        .information{
            max-width: 250px;
            margin-left: 10px;
        }

        .switch {
            top: 30px;
            right: 30px;
            float: right;
        }
    }
}